.boundary {
    width:80%;
    margin:auto;
}

.topdec{
    text-decoration: underline;
    color:rgb(141, 141, 141);
    cursor: pointer;
    font-size: 20px;
}

.header{
    margin-bottom: 0px;
}