.search {
    position: absolute;
    display: flex;
    /* background-color: white; */
    top:180px;
    left: 15%;
    width: 100vw;
    margin:10px -450px auto;
}

.search > h2 {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* width: 30%; */
    padding: 10px;
    /* background-color: white; */
    position: absolute;
    left: 0;
    top: 380px;
}

.search > input {
    width: 539px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
  }
  
.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color: white;
    width: 579px;
  }

.search > button:hover {
    background-color: white;
    color: #ff7779;
}
