body {
  width: 100%;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.heading {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: sticky;
  top: 0;
  /* background-color: transparent; */
  background: url(./Pictures/Banner.png) no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-repeat: no-repeat;
  color: white;
}
.heading.active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC");
  background: white;
  color: black;
  /* width: 100%;
  height: 100vh; */
}

.header__icon {
  object-fit: contain;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0px 40px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  padding: 0px 45px;
  margin-right: 20px;
}

/* .formInputMainDiv {
  padding-top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: "transparent";
} */

.BannerButtonDiv {
  border: 2px solid black;
  width: 18%;
  height: 7vh;
  margin-top: 390px;
  margin-right: 1150px;
}
.BannerButtonDiv button {
  background: transparent;
  color: transparent;
  border: transparent;
}

/* .BannerButton{
  background-color: #1f1f1f;
  color: #ff7779 ;
  text-transform: inherit;
  margin-top: 400px;
  margin-right: 1100px;
  font-weight: 600;
  height:10px;
} */
