.background
{
    background-color: rgb(26, 24, 24); 
    width:100%;
    height: 100vh;
    display:flex
}
.left{
    width:50%;
    height: 100vh;
    text-align: center
}
.right{
    width:50%;
    height: 100vh;
}
.margin
{
    margin-top: 30%;
    color:white;
    font-size:60px;
}
.font
{
    color:white;
    font-size:60px;
}
.btn
{
    height: 45px;
    border-radius: 10px;
    width:100px;
    background-color:rgb(251, 38, 84);
    border:0px;
    color:white;
    margin-top:5%;
    margin-left: 90%;
    cursor: pointer;
    font-size: 17px;
}
.color
{
    color:white;
}